.podcastListContainer {
  background-color: white;
  border-radius: 1rem;
  border: #e1e1e1 1px solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  margin: 2rem 0.5rem;
  font-weight: 550;
  color: #646464;
}

.podcastListContainer h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.podcastTable {
  width: 100%;
  border-collapse: collapse;
}

.podcastTable th,
.podcastTable td {
  text-align: center;
  padding: 10px;
}

.podcastTable th {
  background-color: #ededed;
  font-weight: bold;
  color: #666;
}

.podcastTable th:first-child {
  border-radius: 5px 0 0 5px;
}
.podcastTable th:last-child {
  border-radius: 0 5px 5px 0;
}

.podcastTable td {
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}

.podcastTable tr:last-child td {
  border-bottom: none;
}

.status {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.85em;
  font-weight: bold;
  display: inline-block;
  background-color: #dfbaff;
  color: #7e23cd;
}

.actionButtons {
  display: flex;
  justify-content: center;
}

.viewButton,
.deleteButton {
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.viewButton {
  color: #333;
  border-radius: 5px 0 0 5px;
}

.deleteButton {
  color: #d9534f;
  border-radius: 0 5px 5px 0;
}

.moveButton {
  color: #5bc0de;
}

.viewButton:hover,
.deleteButton:hover {
  background-color: #e0e0e0;
}
