.pageContainer {
  padding: 3rem;
  background-color: #f9f9f9;
  width: 100%;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem 1rem;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}
