.tile {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  border: 1px solid #dbdbdb;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: 70%;
  padding: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.description {
  font-size: 14px;
  color: #888;
}

.iconContainer {
  margin: 1.5rem;
  border-radius: 20%;
  padding: 0.8rem 1.25rem;
}
